.body{
  background-image: url(background-picture/vecteezy_black-color-gradient-background-vector_26424675.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: arial;
  padding-top: 150px;
  overflow-x: hidden;
}
